/**
 * @title dark moon
 */

   
   body {
   
      background: none top left repeat;
   
      font-family: "serif";
   
      font-size: 11;
   
      background-color: #000000;
   
   }

   
   .back {
   
      background-image: url(chrome://fastdial-profile/content/themes/current/back.png);
   
   }

   
   .search-input {
   
      background-image: none;
   
      color: #333333;
   
      background-color: #000000;
   
      border: 1px solid #999999;
   
   }

   
   .thumbnail {
   
      background-color: transparent;
   
      border: 1px solid #666666;
   
      margin: 8;
   
      opacity: 0.9;
   
   }

   
   div.thumbnail:hover, .hover {
   
      background-color: transparent;
   
      border: 1px solid #666666;
   
      margin: 4;
   
      opacity: 0.9;
   
   }

   
   .title {
   
      visibility: visible;
   
      color: #000000;
   
      background-color: #666666;
   
      border-top: 1px solid #cccccc;
   
   }

   
   div.thumbnail:hover .title, .hover .title {
   
      visibility: visible;
   
      color: #000000;
   
      background-color: #e8e8e8;
   
      border-top: 1px solid #d3d3d3;
   
   }

   
   .title img {
   
      display: inline;
   
   }

   
   div.thumbnail:hover .title img, .hover .title img {
   
      display: inline;
   
   }

